.friends .friends__plus {
  padding: 20px 0px;
  margin: 20px 0px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

.friends__plus .friends__title,
h5.friends__title {
  margin-bottom: 20px;
  font-size: 17px;
  color: #666666;
}

.friend .friend__now-listening {
  padding: 8px 12px;
  border: 2px solid #1cbf4c;
  border-radius: 30px;
  color: #666666;
  font-size: 14px;
}
